.rule-group-view-container {
    height: 100%;

    .rule-group-view-hub {
        height: 100%;

        .ms-Breadcrumb-item {
            padding-left: 0;
        }

        .subscribe-button, .info-button {
            cursor: pointer;
            font-size: 16px;
            padding-left: 5px;
            padding-right: 6px;
        }

        .subscribe-button {
            color: #ffbe00;
        }
        
        .info-button {
            color: #0078d7;
        }
        
        .vss-PivotBarItem {
            width: 100%;
            box-sizing: border-box;
            padding-left: 0px !important;
            padding-right: 0px !important;
            
            .rule-group-view-contents {
                overflow: auto;
                height: 100%;
                position: relative;
                padding-left: 15px;

                .rule-group-view-error {
                    margin-top: 10px;
                }
        
                .rule-list {
                    overflow-x: initial;
                    overflow-y: initial;

                    .rule-status {
                        color: #107c10;
                        cursor: help;
                        padding-left: 5px;
                        
                        &.disabled {
                            color: #666666;
                        }
                    }

                    .rule-trigger-icon {
                        cursor: help;
                        padding-left: 5px;
                    }
        
                    .name-column-cell {
                        @include TextOverflowEllipsis();
                        flex: 1;
        
                        .name-link {
                            padding-left: 5px;
                            border: none;
                            border-left: 5px solid transparent;
                        }
                    }
                }
            }
        }
    }

    .toast-notification {
        position: fixed;
        bottom: 20px;
        right: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        
        .toast-message {
            width: auto;
        }
    }
}