.info-label {
    display: flex;

    .info-icon {
        color: #0078d7;
        font-size: 12px;        
        cursor: help;
        vertical-align: text-top;
    }

    .info-label-text {
        padding: 0;
        margin: 0 3px 0 0;
        @include TextOverflowEllipsis();
    }

    .info-icon-container {
        position: relative;
    }
}