.input-error {
    display: flex;
    align-items: center;

    .error-icon {        
        margin-right: 3px;
        color: #a80000;
    }

    .error-text {        
        flex: 1;
        font-size: 12px;
        color: #a80000;
        padding: 0;
        margin: 0;
        line-height: 15px;
    }
}