@import "base";

#ext-container {
    padding: 2px 15px 2px 1px !important;
    font-family: $font;

    .datetime-control-container {
        font-size: $fontSize;
        color: $color;
        
        &.invalid-value {
            .rw-datetimepicker {
                input.rw-input {
                    border: 1px solid #a80000;
                }
            }
        }
    }
}