@import "base";

#ext-container {
    padding: 2px 15px 2px 1px !important;

    .multi-value-control {
        padding: 2px 1px;
        margin: 0;
        border: 1px solid transparent;
        outline: none;

        &:hover, &:focus, &.expanded {
            border: 1px solid #eaeaea;
        }

        .selected-values {
            cursor: pointer;

            .no-items-text {
                margin-left: 2px;
            }
    
            .selected-values-list {
                margin: 0;  
                padding: 0;          
                list-style: none;
    
                .selected-value {
                    display: inline-block;
                    margin: 2px;
                    padding: 2px 4px;
                    background-color: skyblue;
                    max-width: 100px;
                    @include TextOverflowEllipsis();
                    @include UserSelectNone();
                }
            }
        }

        .picklist {
            max-height: 285px;
        }
    }
}