.bugbash-charts {
    display: flex;
    height: calc(100% - 10px);
    padding: 0 10px 10px 0;
    
    .chart-view-container {
        flex: 1;
        background-color: #f9f9f9;
        padding: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;

        .header-container {
            display: flex; 
            margin-bottom: 10px;
            
            .header {
                flex: 1;
                font-weight: bold;                
            }           
        }        

        .chart-view {
            flex: 1;
            overflow: hidden;
        }
    }

    .chart-tooltip {
        border: 1px solid #ccc;
        background-color: white;
        color: #8884d8;
        padding: 10px;

        .team-name {
            margin-bottom: 10px;
            font-weight: bold;
            color: #111;
        }

        .tooltip-key {
            color: #111;
        }
    }
}