.settings-panel {    
    .settings-controls {
        .settings-control-container {
            margin-bottom: 20px;

            .info-label {
                margin-bottom: 5px;
            }
        }        
    }

    .content-loading {
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        width: 10%;
    }
}