@import "base";

#ext-container {
    .fabric-container {
        display: flex;

        .slider-control {
            margin-bottom: 0;
            flex: 1;            
        }

        .slider-value {
            width: 40px;
            text-align: right;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-top: 3px;
            margin-left: 5px;
        }
    }    
}