@mixin TextOverflowEllipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

@mixin UserSelectNone() {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}