.checklist-view {
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    .message-bar {
        margin: 0 10px;
    }

    .error-message {
        margin-bottom: 10px;
    }

    .checklist-items-container {
        flex: 1;
        max-height: 300px; // show 10 items in view
        overflow: auto;

        .checklist-items.showBottomBorder {
            border-bottom: 1px solid #ccc;
            margin-bottom: 5px;
            padding-bottom: 5px;
        }
    }    

    .checklist-item-editor {
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 10px;
    }
}

.edit-checklist-item-overlay {
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .checklist-item-editor {
        padding: 10px;
        border: 1px solid black;
        background-color: white;
    }
}