.bugbash-results {
    height: 100%;
    
    .split-layout {
        height: 100%;

        .grid-container {
            overflow: auto;
            height: 100%;
            position: relative;

            .bugbash-item-grid {
                overflow-x: initial;
                overflow-y: initial;

                .ms-DetailsRow-check {
                    height: 100%;
                }
                
                .item-grid-cell {                    
                    &.identity-view {
                        height: 34px;
                        
                        .ms-Persona-details {
                            padding: 0 0 0 5px;
                        }
    
                        .ms-Persona-primaryText {
                            font-size: 13px;
                        }
                    }
    
                    &.is-dirty {
                        font-weight: bold;
                        color: #000;
    
                        &.identity-view {
                            .ms-Persona-primaryText {
                                font-weight: bold;
                                color: #000;
                            }
                        }
                    }
    
                    &.is-invalid {
                        color: #a80000;
    
                        &.identity-view {
                            .ms-Persona-primaryText {
                                color: #a80000;
                            }
                        }
                    }
                }
            }
        }

        & > .layout-split {
            background-color: #ccc;
            cursor: e-resize;
            width: 1px;
            margin-left: 2px;
            border-left: 2px solid #fff;
            border-right: 2px solid #fff;

            &:hover {
                background-color: #ccc;
                width: 1px;
                border-left: 2px solid #ccc;
                border-right: 2px solid #ccc;
            }
        }          

        .item-editor {
            height: 100%;
        }
    }
}